---
name: Create GitHubNext diagram
# yamllint disable-line rule:truthy
on:
  workflow_dispatch: {}
#  push:
#    branches: [ master, main ]

jobs:
  get_data:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Update diagram
        uses: githubocto/repo-visualizer@a999615bdab757559bf94bda1fe6eef232765f85 # 0.9.1
        with:
          excluded_paths: "LICENSE,.github,Docker"
